{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8a6bd92f89.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet"> 
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
    
    <title>Online Shop</title>
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
</head>
<body>
    <header class="header">
        <div class="container container--px">
            <nav class="flex flex-ai-c flex-jc-sb">
                <a href="#" id="btnHamburger" class="header__toggle hide-for-desktop ">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>

                <a href="" class="header__logo">
                    <img src="{% static "img/logo_white.png"%}" alt="logo">
                </a>

                <div class="header__search hide-for-mobile">
                    <form action="{% url 'shop:product_search'%}">
                        {{ search_form }}
                        <button type="submit"><i class="fas fa-search"></i></button>

                    </form>
                </div>
                
                <div class="header__right_section flex flex-ai-c ">

                    <div class="header__custom_block hide-for-mobile">
                        <i class="fas fa-phone-alt"></i>
                        <span>
                            {% trans "Call us now" %}<br>
                            <b>+201111504980</b>
                        </span>
                    </div>
    
                    <div class="header__search_mobile hide-for-desktop" id="toggleSearch">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
    
                    <div class="header__cart">
                        <a href="{% url "cart:cart_detail" %}" id='cart_icon'>
                            <i class="fas fa-shopping-cart"></i>
                            {% with total_items=cart|length %}
                            {% if total_items > 0 %}
                            <div class="cart_items_numbre">{{ total_items}}</div>
                            {%else%}
                            <div class="cart_items_numbre">0</div>
                            {% endif %}
                            {% endwith %}
                        </a>
                    </div>

                    <div class="header__user">
                        <i class="fas fa-user"></i>
                    </div>
                </div>

            </nav>
            <div class="header__search_mobile_input hide-for-desktop" id="mobileSearch">
                <form action="{% url 'shop:product_search'%}" method="get">
                    {% csrf_token %}
                    {{ search_form }}
                </form>
            </div>
        </div>
         <div class="header__menu" id="header__menu">
             <div class="container container--px">
                 <ul class="header__links ">
                     <li><a href="{% url "shop:home" %}">{% trans "Home" %}</a></li>
                     <li><a href="{% url "shop:product_list" %}">{% trans "Categories" %}</a></li>
                     <li><a href="{% url "shop:product_list" %}">{% trans "Products" %}</a></li>
                     <li><a href="{% url "shop:about_us" %}">{% trans "About us" %}</a></li>
                     <li><a href="{% url "shop:contact_us" %}">{% trans "Contacts us" %}</a></li>
                     {% if LANGUAGE_CODE == 'en' %}
                     <li>
                         <a href="/ar/{{ request.get_full_path|slice:'4:'}}">العربية</a>
                     </li>
                     {% else %}
                     <li>
                         <a href="/en/{{request.get_full_path|slice:'4:'}}">English</a>
                     </li>
                     {% endif %}
                 </ul>
                 <ul class="header__links ">
                     {% if request.user.is_authenticated %}
                     <li>{% trans "Hello" %} &nbsp;{{ request.user.first_name }}</li>
                     <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
                     {% else %}
                     <li><a href="{% url "login"%}">{% trans "Log in" %}</a></li>
                     <li><a href="{% url "register"%}">{% trans "Register" %}</a></li>
                     {% endif %}
                 </ul>
             </div>
         </div>
    </header>
   
    <div id="content">
            {% block content %}
            {% endblock %}
    </div>
    <footer class="footer">
        <div class="container container--px">
            <div class="footer__contact">
                <h3>{% trans "Contact Information" %}</h3>
                <p class="address"><span>{% trans "Address" %}</span><br>123 Street Name, City,
                    England</p>
                <p class="phone"><span>{% trans "Phone" %}</span><br>(123) 456-7890</p>
                <p class="Email"><span>{% trans "Email" %}</span><br>mail@example.com</p>
                <p class="workdays"><span>{% trans "Working Days/Hours" %}</span><br>Mon - Sun / 9:00AM - 8:00PM
                </p>
                <div class="footer_social">
                    <div class="facebook"><i class="fab fa-facebook-f"></i></div>
                    <div class="twitter"><i class="fab fa-twitter"></i></div>
                    <div class="linkedin"><i class="fab fa-linkedin-in"></i></div>
                </div>
            </div>
            <div class="footer__subscripe">
                <div class="subscripe_text">
                    <h3>{% trans "BE THE FIRST TO KNOW" %}</h3>
                    <p>{% trans "Get all the latest information on Events, Sales and Offers." %}
                        <br>
                    {% trans "Sign up for newsletter today." %}</p>
                </div>
                <div class="subscripe_email">
                    <form action="POST">
                        <input type="email" name="email" id="subscripe_email" placeholder="Email address">
                        <input type="submit" value="subscripe" class="button">
                    </form>
                </div>
            </div>
            <div class="account_links">
                <h3>{% trans "My Account" %}</h3>
                <ul>
                    <li><a href="#">{% trans "Login" %}</a></li>
                    <li><a href="#">{% trans "My Account" %}</a></li>
                    <li><a href="#">{% trans "Order history" %}</a></li>
                    <li><a href="#">{% trans "Advanced search" %}</a></li>
                    <li><a href="#">{% trans "About us" %}</a></li>
                    <li><a href="#">{% trans "Contact us" %}</a></li>
                </ul>
            </div>
            <div class="features_links">
                <h3>Main Features</h3>
                <ul>
                    <li>Super Fast Theme</li>
                    <li>Ajax</li>
                    <li>Responsive</li>
                    <li>Powerful Admin Panel</li>
                    <li>Unlimited Categories and Products</li>
                </ul>
            </div>
            <div class="footer__copyrights">
                <p>© Mahmoud Sidky eCommerce. 2021. All Rights Reserved</p>
                <img src="{% static 'img/payment-icon.png'%}" alt="">  
            </div>
        </div>
    </footer>
    <script src="{% static "js/header.js" %}"></script>
    <script>
        const csrftoken =  Cookies.get('csrftoken');
        document.addEventListener('DOMContentLoaded', () => {
            {% block domready %}
            {% endblock %}
            });
    </script>
</body>
</html>