{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}Pay by credit card{% endblock %}

{% block content %}
   <div class="container container--px">
      <h1>Pay by credit card</h1>
      <form id="payment" method="post">
         <label for="card-number">Card Number</label>
         <div id="card-number" class="field"></div>
     
         <label for="cvv">CVV</label>
         <div id="cvv" class="field"></div>
     
         <label for="expiration-date">Expiration Date</label>
         <div id="expiration-date" class="field"></div>
     
         <input type="hidden" id="nonce" name="payment_method_nonce" value="">
         {% csrf_token %}
         <input type="submit" value="Pay" class="button">
      </form>    
   </div>
 <!-- includes the Braintree JS client SDK -->
 <script src="https://js.braintreegateway.com/web/3.74.0/js/client.js"></script>
 <script src="https://js.braintreegateway.com/web/3.74.0/js/hosted-fields.js"></script>
 <script>
 
var form = document.querySelector('#payment');
var authorization = '{{ client_token }}';

braintree.client.create({
  authorization: authorization
}, function(err, clientInstance) {
  if (err) {
    console.error(err);
    return;
  }
  createHostedFields(clientInstance);
});

function createHostedFields(clientInstance) {
  braintree.hostedFields.create({
    client: clientInstance,
   //  styles: {
   //    'input': {
   //      'font-size': '16px',
   //      'font-family': 'courier, monospace',
   //      'font-weight': 'lighter',
   //    },
   //    ':focus': {
   //      'color': 'black'
   //    },
   //    '.valid': {
   //      'color': '#8bdda8'
   //    }
   //  },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: 'MM/YYYY'
      }
    }
  }, function (err, hostedFieldsInstance) {
    var tokenize = function (event) {
      event.preventDefault();
      
      hostedFieldsInstance.tokenize(function (err, payload) {
        if (err) {
          alert('Something went wrong. Check your card details and try again.');
          return;
        }
        
        alert('Submit your nonce (' + payload.nonce + ') to your server here!');
      });
    };
    
    form.addEventListener('submit', tokenize, false);
  });
}
</script>
{% endblock %}