{% load static %}
<div class="custom_banner">
    <div class="custom_banner_block">
        <i class="fas fa-shipping-fast"></i>
        <h3>FREE <br> SHIPPING</h3>
    </div>
    <div class="custom_banner_block">
        <i class="fas fa-dollar-sign"></i>
        <h3>100% MONEY <br> BACK GUARANTEE</h3>
    </div>
    <div class="custom_banner_block">
        <i class="fas fa-headset"></i>
        <h3>ONLINE <br> SUPPORT 24/7</h3>
    </div>
    <div class="custom_banner_image">
        <img src="{% static 'img/sidebar-banner.jpg'%}" alt="">
    </div>
</div>